<div class="add-item-container">
   <h2>Add New Item</h2>
  <form (ngSubmit)="addItem()" class="add-item-form">
    <div class="form-group">
      <label for="name">Item Name</label>
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="newItem.name"
        placeholder="Enter item name"
        required
      />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        id="description"
        name="description"
        [(ngModel)]="newItem.description"
        placeholder="Enter item description"
        required
      ></textarea>
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input
        type="number"
        id="price"
        name="price"
        [(ngModel)]="newItem.price"
        placeholder="Enter price"
        required
      />
    </div>

    <div class="form-group">
      <label for="image">Image URL</label>
      <input
        type="text"
        id="image"
        name="image"
        [(ngModel)]="newItem.image"
        placeholder="Enter image URL"
        required
      />
    </div>

    <button type="submit">Add Item</button>
  </form>
</div>
