/* Set the background color of the whole page */
:host {
    display: block;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
  }
  
  /* Style for the success message container */
  .purchase-success-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
  }
  
  /* Heading styling */
  .purchase-success-container h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Paragraph styling */
  .purchase-success-container p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px;
  }
  
  /* Button styling */
  .purchase-success-container button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Green button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  .purchase-success-container button:hover {
    background-color: #45a049;
  }
  